body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 90vh;
}

.copyright {
  position: absolute;
  bottom: 0;
  margin-bottom: 120px;
}

.calculator {
  position: absolute;
  translate: 0 -100px;
}